@charset "utf8";
/* NOTE: General Page Styles */
html, body{
    background-color: #baf2bb;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

/* NOTE: Main Nav Styles */
nav.horizontal#main ul{
    background-color: #e5f9e0;
    padding: 0px 4px;
    margin: 0px;
}
nav.horizontal#main li{
    border-right: 2px solid #ccd8c9;
    padding: 5px 0px;
}
nav.horizontal#main li:last-of-type{
    border-right-width: 0px;
}
nav.horizontal#main li a{
    text-align: center;
    text-decoration: none;
}
nav.horizontal#main li a:link, 
nav.horizontal#main li a:visited{
    color: rgba(0, 0, 0, 0.9);
    font-size: 1.4em;
}
nav.horizontal#main li a:hover, 
nav.horizontal#main li a:active{
    color: rgba(0, 0, 0, 0.6);
    font-size: 1.6em;
}

/* NOTE: Article Content Box Styles */
article.content{
    background-color: #5f5449;
    border-radius: 50px 50px;
    padding: 10px 10px;
    margin: 15px 15px;
}
div.articleContainer article.content h2, 
div.articleContainer article.content h3, 
div.articleContainer article.content h4, 
div.articleContainer article.content p{
    color: rgb(194, 194, 194);
    margin-left: 15px;
    margin-right: 15px;
}
h2.jobTitle{
    font-size: 2.6em;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 0px;
}
h3.companyName, h3.companyName em{
    color: rgb(134, 134, 134);
    font-size: 1.2em;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
}
div.articleContainer article.content h4.timeFrame{
    color: #39bddf;
    font-size: 1em;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
}
p.jobDescription{
    margin: 0px;
    margin-bottom: 15px;
}
div.articleContainer{
    padding-top: 80px;
    margin-left: auto;
    margin-right: auto;
}
/* NOTE: References Contact Button */
article.content a:link, article.content a:visited{
    background-color: #81968f;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-align: center;
    font-size: 1em;
    border-radius: 25px;
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
}
article.content a:hover, article.content a:active{
    background-color: #AFD0BF;
    color: rgba(0, 0, 0, 0.8);
}

/* NOTE: Footer Styles */
footer{
    background-color: #5f5449;
    color: white;
    text-decoration: none;
    text-align: center;
    text-shadow: 3px 3px 10px black;
    vertical-align: middle;
    font-size: 1.6em;
    padding-top: 15px;
    padding-bottom: 20px;
}