@import "~@angular/material/theming";
@include mat-core();

/* ======== Custom Color Palettes ======== */
$zi-primary: (
  50: #bee0e5,
  100: #87c6cf,
  200: #5fb4bf,
  300: #3d8f9a,
  400: #357a84,
  500: #2c666e,
  600: #235258,
  700: #1b3d42,
  800: #12292c,
  900: #091517,
  A100: #a8e8f1,
  A200: #50d2e3,
  A400: #2b93a2,
  A700: #2f7a85,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$zi-accent: (
  50: #f2fbfd,
  100: #def5fb,
  200: #c8eef8,
  300: #b1e7f5,
  400: #a1e2f2,
  500: #90ddf0,
  600: #88d9ee,
  700: #7dd4ec,
  800: #73cfe9,
  900: #61c7e5,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ebfaff,
  A700: #d1f4ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$zi-warning: (
  50: #fdc8c8,
  100: #fb7e7e,
  200: #f94848,
  300: #f10808,
  400: #d40707,
  500: #b60606,
  600: #980505,
  700: #7b0404,
  800: #5d0303,
  900: #3f0202,
  A100: #ffbcbc,
  A200: #ff5656,
  A400: #ef0000,
  A700: #d40101,
  contrast: (
    50: #000000,
    100: #000000,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$zi-text: (
  50: #fdfdfd,
  100: #fbfafa,
  200: #f8f6f7,
  300: #f5f2f3,
  400: #f2f0f1,
  500: #f0edee,
  600: #eeebec,
  700: #ece8e9,
  800: #e9e5e7,
  900: #e5e0e2,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$zi-background: (
  50: #9f9ba2,
  100: #78747d,
  200: #5c5960,
  300: #39363b,
  400: #29282b,
  500: #1a191b,
  600: #0b0a0b,
  700: #000000,
  800: #000000,
  900: #000000,
  A100: #353535,
  A200: #1e1d1f,
  A400: #1a191a,
  A700: #141215,
  contrast: (
    50: #000000,
    100: #ffffff,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

/* ======== Angular material custom themes ======== */
$zac-ingoglia-primary: mat-palette($zi-primary);
$zac-ingoglia-accent: mat-palette($zi-accent);
$zac-ingoglia-warn: mat-palette($zi-warning);

$zac-ingoglia-theme: mat-dark-theme(
  $zac-ingoglia-primary,
  $zac-ingoglia-accent,
  $zac-ingoglia-warn
);

@include angular-material-theme($zac-ingoglia-theme);
