<!-- Flex box container where all of the page content is held within -->
<div class="flex-container">
  <!-- Flex box item that is moved within the guidelines of the flex container -->
  <!-- Angular Material card styling elements to properly style the page content using Angular Material -->
  <mat-card class="flex-card-item">
    <mat-card-header><h1 class="mat-h1">Multimedia Editor</h1></mat-card-header>
    <mat-card-content class="mainContent">
      <h2 class="mat-h2 companyName"><em>RockHouseU</em></h2>
      <h3 class="mat-h3 timeFrame">July 2016&mdash;June 2018</h3>
      <p class="cardBodyText">
        Primary editor for promotional video materials. Working remotely on
        assigned projects while exceeding employer expectations. This job
        required extensive patience and focus in order to find micro and macro
        errors in footage to create a professional and eloquent final product
        that is both artistically and technically perfect.
      </p>
    </mat-card-content>
  </mat-card>

  <!-- Flex box item that is moved within the guidelines of the flex container -->
  <!-- Angular Material card styling elements to properly style the page content using Angular Material -->
  <mat-card class="flex-card-item">
    <mat-card-header
      ><h1 class="mat-h1">Cell Phone Repair Technician</h1></mat-card-header
    >
    <mat-card-content class="mainContent">
      <h2 class="mat-h2 companyName"><em>Quick Mobile Repair</em></h2>
      <h3 class="mat-h3 timeFrame">April 2019&mdash;Present</h3>
      <p class="cardBodyText">
        Primary duties include repairing customer mobile devices to a high
        degree of accuracy as well as managing the day to day operations of the
        shop. This role requires extreme attention to detail and, in a larger
        sense, a detail orientated person. Using and honing these skills has
        been largely helpful in advancing my progress in software development as
        it has enhanced my innate ability to problem solve and detect
        potentially vital errors early on.
      </p>
    </mat-card-content>
  </mat-card>

  <!-- Flex box item that is moved within the guidelines of the flex container -->
  <!-- Angular Material card styling elements to properly style the page content using Angular Material -->
  <mat-card class="flex-card-item">
    <mat-card-header
      ><h1 class="mat-h1">Desktop &amp; Laptop Specialist</h1></mat-card-header
    >
    <mat-card-content class="mainContent">
      <h2 class="mat-h2 companyName"><em>Quick Mobile Repair</em></h2>
      <h3 class="mat-h3 timeFrame">April 2019&mdash;Present</h3>
      <p class="cardBodyText">
        Primary duties include managing and completing all repairs on desktop
        and laptop computer systems. This includes systems running both Mac OSX
        and Microsoft Windows based systems. Repairs include: software tuneup,
        hardware cleaning, OS reinstall (with and without data migration),
        hardware replacement for upgrade, hardware replacement for
        faulty/defective, and general customer interaction and teaching. The
        troubleshooting skills I’ve acquired while fulfilling this position have
        allowed me to constantly expand my knowledge base and find viable
        solutions for nonstandard problems. I also apply this troubleshooting
        technique to find solutions to any problems even if I don’t currently
        have the technical knowledge required.
      </p>
    </mat-card-content>
  </mat-card>

  <!-- Flex box item that is moved within the guidelines of the flex container -->
  <!-- Angular Material card styling elements to properly style the page content using Angular Material -->
  <mat-card class="flex-card-item">
    <mat-card-header><h1 class="mat-h1">jobTitle</h1></mat-card-header>
    <mat-card-content class="mainContent">
      <h2 class="mat-h2 companyName"><em>employerHere</em></h2>
      <h3 class="mat-h3 timeFrame">StartDate&mdash;EndDate</h3>
      <p class="cardBodyText">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Scelerisque in
        dictum non consectetur a erat. Sed sed risus pretium quam vulputate
        dignissim suspendisse in est. Arcu dui vivamus arcu felis bibendum ut
        tristique et egestas. Donec pretium vulputate sapien nec sagittis
        aliquam malesuada. At consectetur lorem donec massa sapien faucibus et.
        Vel fringilla est ullamcorper eget nulla facilisi etiam. Faucibus in
        ornare quam viverra orci sagittis. Morbi leo urna molestie at elementum.
        Varius duis at consectetur lorem donec massa sapien faucibus. Et
        sollicitudin ac orci phasellus egestas. Tellus at urna condimentum
        mattis. Ultricies tristique nulla aliquet enim tortor at auctor. Et
        sollicitudin ac orci phasellus egestas. Tellus at urna condimentum
        mattis. Ultricies tristique nulla aliquet enim tortor at auctor.
      </p>
    </mat-card-content>
  </mat-card>

  <!-- Flex box item that is moved within the guidelines of the flex container -->
  <!-- Angular Material card styling elements to properly style the page content using Angular Material -->
  <mat-card class="flex-card-item">
    <mat-card-header><h1 class="mat-h1">jobTitle</h1></mat-card-header>
    <mat-card-content class="mainContent">
      <h2 class="mat-h2 companyName"><em>employerHere</em></h2>
      <h3 class="mat-h3 timeFrame">StartDate&mdash;EndDate</h3>
      <p class="cardBodyText">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Scelerisque in
        dictum non consectetur a erat. Sed sed risus pretium quam vulputate
        dignissim suspendisse in est. Arcu dui vivamus arcu felis bibendum ut
        tristique et egestas. Donec pretium vulputate sapien nec sagittis
        aliquam malesuada. At consectetur lorem donec massa sapien faucibus et.
        Vel fringilla est ullamcorper eget nulla facilisi etiam. Faucibus in
        ornare quam viverra orci sagittis. Morbi leo urna molestie at elementum.
        Varius duis at consectetur lorem donec massa sapien faucibus. Et
        sollicitudin ac orci phasellus egestas. Tellus at urna condimentum
        mattis. Ultricies tristique nulla aliquet enim tortor at auctor. Et
        sollicitudin ac orci phasellus egestas. Tellus at urna condimentum
        mattis. Ultricies tristique nulla aliquet enim tortor at auctor.
      </p>
    </mat-card-content>
  </mat-card>

  <!-- Flex box item that is moved within the guidelines of the flex container -->
  <!-- Angular Material card styling elements to properly style the page content using Angular Material -->
  <mat-card class="flex-card-item">
    <mat-card-header><h1 class="mat-h1">jobTitle</h1></mat-card-header>
    <mat-card-content class="mainContent">
      <h2 class="mat-h2 companyName"><em>employerHere</em></h2>
      <h3 class="mat-h3 timeFrame">StartDate&mdash;EndDate</h3>
      <p class="cardBodyText">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Scelerisque in
        dictum non consectetur a erat. Sed sed risus pretium quam vulputate
        dignissim suspendisse in est. Arcu dui vivamus arcu felis bibendum ut
        tristique et egestas. Donec pretium vulputate sapien nec sagittis
        aliquam malesuada. At consectetur lorem donec massa sapien faucibus et.
        Vel fringilla est ullamcorper eget nulla facilisi etiam. Faucibus in
        ornare quam viverra orci sagittis. Morbi leo urna molestie at elementum.
        Varius duis at consectetur lorem donec massa sapien faucibus. Et
        sollicitudin ac orci phasellus egestas. Tellus at urna condimentum
        mattis. Ultricies tristique nulla aliquet enim tortor at auctor. Et
        sollicitudin ac orci phasellus egestas. Tellus at urna condimentum
        mattis. Ultricies tristique nulla aliquet enim tortor at auctor.
      </p>
    </mat-card-content>
  </mat-card>
</div>
