<div class="articleContainer">
  <!--Reference 1-->
  <article class="content" id="box1">
    <h3>Trusted-Reference-Here</h3>
    <p>Info-About-Reference</p>
    <p>
      In order to protect against spam, to obtain this person's contact info
      please click the button to send an email to me with your request.
      Thanks&#33;<!--Exclamation Mark-->
    </p>
    <!--Button the user can click which will prompt them to send an email to zacace@ingoglia.com-->
    <a
      class="button"
      id="contactMe"
      href="mailto:zacace@ingoglia.com?subject=I'd%20like%20the%20contact%20info%20for%20REFERENCENAMEHERE&body=Hi&#44;%20my%20name%20is%20%0AI%20would%20like%20the%20contact%20information%20for%20REFERENCENAMEHERE%0ABest%20regards&#44;%0A"
    >
      Contact This Reference
    </a>
  </article>

  <!--Reference 2-->
  <article class="content" id="box2">
    <h3>Trusted-Reference-Here</h3>
    <p>Info-About-Reference</p>
    <p>
      In order to protect against spam, to obtain this person's contact info
      please click the button to send an email to me with your request.
      Thanks&#33;<!--Exclamation Mark-->
    </p>
    <!--Button the user can click which will prompt them to send an email to zacace@ingoglia.com-->
    <a
      class="button"
      id="contactMe"
      href="mailto:zacace@ingoglia.com?subject=I'd%20like%20the%20contact%20info%20for%20REFERENCENAMEHERE&body=Hi&#44;%20my%20name%20is%20%0AI%20would%20like%20the%20contact%20information%20for%20REFERENCENAMEHERE%0ABest%20regards&#44;%0A"
    >
      Contact This Reference
    </a>
  </article>

  <!--Reference 3-->
  <article class="content" id="box3">
    <h3>Trusted-Reference-Here</h3>
    <p>Info-About-Reference</p>
    <p>
      In order to protect against spam, to obtain this person's contact info
      please click the button to send an email to me with your request.
      Thanks&#33;<!--Exclamation Mark-->
    </p>
    <!--Button the user can click which will prompt them to send an email to zacace@ingoglia.com-->
    <a
      class="button"
      id="contactMe"
      href="mailto:zacace@ingoglia.com?subject=I'd%20like%20the%20contact%20info%20for%20REFERENCENAMEHERE&body=Hi&#44;%20my%20name%20is%20%0AI%20would%20like%20the%20contact%20information%20for%20REFERENCENAMEHERE%0ABest%20regards&#44;%0A"
    >
      Contact This Reference
    </a>
  </article>

  <!--Reference 4-->
  <article class="content" id="box4">
    <h3>Trusted-Reference-Here</h3>
    <p>Info-About-Reference</p>
    <p>
      In order to protect against spam, to obtain this person's contact info
      please click the button to send an email to me with your request.
      Thanks&#33;<!--Exclamation Mark-->
    </p>
    <!--Button the user can click which will prompt them to send an email to zacace@ingoglia.com-->
    <a
      class="button"
      id="contactMe"
      href="mailto:zacace@ingoglia.com?subject=I'd%20like%20the%20contact%20info%20for%20REFERENCENAMEHERE&body=Hi&#44;%20my%20name%20is%20%0AI%20would%20like%20the%20contact%20information%20for%20REFERENCENAMEHERE%0ABest%20regards&#44;%0A"
    >
      Contact This Reference
    </a>
  </article>

  <!--Reference 5-->
  <article class="content" id="box5">
    <h3>Trusted-Reference-Here</h3>
    <p>Info-About-Reference</p>
    <p>
      In order to protect against spam, to obtain this person's contact info
      please click the button to send an email to me with your request.
      Thanks&#33;<!--Exclamation Mark-->
    </p>
    <!--Button the user can click which will prompt them to send an email to zacace@ingoglia.com-->
    <a
      class="button"
      id="contactMe"
      href="mailto:zacace@ingoglia.com?subject=I'd%20like%20the%20contact%20info%20for%20REFERENCENAMEHERE&body=Hi&#44;%20my%20name%20is%20%0AI%20would%20like%20the%20contact%20information%20for%20REFERENCENAMEHERE%0ABest%20regards&#44;%0A"
    >
      Contact This Reference
    </a>
  </article>

  <!--Reference 6-->
  <article class="content" id="box6">
    <h3>Trusted-Reference-Here</h3>
    <p>Info-About-Reference</p>
    <p>
      In order to protect against spam, to obtain this person's contact info
      please click the button to send an email to me with your request.
      Thanks&#33;<!--Exclamation Mark-->
    </p>
    <!--Button the user can click which will prompt them to send an email to zacace@ingoglia.com-->
    <a
      class="button"
      id="contactMe"
      href="mailto:zacace@ingoglia.com?subject=I'd%20like%20the%20contact%20info%20for%20REFERENCENAMEHERE&body=Hi&#44;%20my%20name%20is%20%0AI%20would%20like%20the%20contact%20information%20for%20REFERENCENAMEHERE%0ABest%20regards&#44;%0A"
    >
      Contact This Reference
    </a>
  </article>
</div>
