/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/purple-green.css";
@import "~@angular/material/theming";
@import "./theme.scss";

html,
body {
  height: 100%;
  background-color: mat-color($zi-background);
}
body {
  margin: 0;
  font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
}
