<!-- Flex box container where all of the page content is held within -->
<div class="flex-container">
  <!-- Flex box item that is moved within the guidelines of the flex container -->
  <!-- Angular Material card styling elements to properly style the page content using Angular Material -->
  <mat-card class="flex-card-item">
    <mat-card-header>
      <h1 class="mat-h1">ACA In Adobe Illustrator</h1>
    </mat-card-header>
    <mat-card-content class="mainContent">
      <img
        src="../../../assets/certBadges/ACA_Illustrator.png"
        height="150px"
        alt="ACA Illustrator Badge"
        (click)="
          openUrl(
            'https://www.youracclaim.com/badges/51b5053d-455d-4411-97ce-7e18fa30ce2b/public_url'
          )
        "
      />
      <br />
      <br />
      <p class="cardBodyText">
        I've been using both Illustrator and Photoshop for the last 3-4 years
        and I became certified in Illustrator by Adobe about 2 years ago to
        further prove my skills in this area. I have the capabilities to design
        advertising graphics, create clean mockups, create high quality renders
        of images, and so much more thanks to what I've learned in the entire
        Adobe suite over the past few years.
        <br />
        From Acclaim: "The Adobe Certified Associate (ACA) certification is the
        industry-recognized validation of one’s skill in Adobe Illustrator CC.
        This certification requires in-depth knowledge of setting project
        requirements, understanding the Adobe Illustrator CC interface, as well
        as creating digital graphics and illustrations using Adobe Illustrator
        CC."
      </p>
    </mat-card-content>
  </mat-card>

  <!-- Flex box item that is moved within the guidelines of the flex container -->
  <!-- Angular Material card styling elements to properly style the page content using Angular Material -->
  <mat-card class="flex-card-item">
    <mat-card-header><h1 class="mat-h1">skillTitle</h1></mat-card-header>
    <mat-card-content class="mainContent">
      <p class="cardBodyText">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Scelerisque in
        dictum non consectetur a erat. Sed sed risus pretium quam vulputate
        dignissim suspendisse in est. Arcu dui vivamus arcu felis bibendum ut
        tristique et egestas. Donec pretium vulputate sapien nec sagittis
        aliquam malesuada. At consectetur lorem donec massa sapien faucibus et.
        Vel fringilla est ullamcorper eget nulla facilisi etiam. Faucibus in
        ornare quam viverra orci sagittis. Morbi leo urna molestie at elementum.
        Varius duis at consectetur lorem donec massa sapien faucibus. Et
        sollicitudin ac orci phasellus egestas. Tellus at urna condimentum
        mattis. Ultricies tristique nulla aliquet enim tortor at auctor.
      </p>
    </mat-card-content>
  </mat-card>

  <!-- Flex box item that is moved within the guidelines of the flex container -->
  <!-- Angular Material card styling elements to properly style the page content using Angular Material -->
  <mat-card class="flex-card-item">
    <mat-card-header><h1 class="mat-h1">skillTitle</h1></mat-card-header>
    <mat-card-content class="mainContent">
      <p class="cardBodyText">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Scelerisque in
        dictum non consectetur a erat. Sed sed risus pretium quam vulputate
        dignissim suspendisse in est. Arcu dui vivamus arcu felis bibendum ut
        tristique et egestas. Donec pretium vulputate sapien nec sagittis
        aliquam malesuada. At consectetur lorem donec massa sapien faucibus et.
        Vel fringilla est ullamcorper eget nulla facilisi etiam. Faucibus in
        ornare quam viverra orci sagittis. Morbi leo urna molestie at elementum.
        Varius duis at consectetur lorem donec massa sapien faucibus. Et
        sollicitudin ac orci phasellus egestas. Tellus at urna condimentum
        mattis. Ultricies tristique nulla aliquet enim tortor at auctor.
      </p>
    </mat-card-content>
  </mat-card>

  <!-- Flex box item that is moved within the guidelines of the flex container -->
  <!-- Angular Material card styling elements to properly style the page content using Angular Material -->
  <mat-card class="flex-card-item">
    <mat-card-header><h1 class="mat-h1">skillTitle</h1></mat-card-header>
    <mat-card-content class="mainContent">
      <p class="cardBodyText">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Scelerisque in
        dictum non consectetur a erat. Sed sed risus pretium quam vulputate
        dignissim suspendisse in est. Arcu dui vivamus arcu felis bibendum ut
        tristique et egestas. Donec pretium vulputate sapien nec sagittis
        aliquam malesuada. At consectetur lorem donec massa sapien faucibus et.
        Vel fringilla est ullamcorper eget nulla facilisi etiam. Faucibus in
        ornare quam viverra orci sagittis. Morbi leo urna molestie at elementum.
        Varius duis at consectetur lorem donec massa sapien faucibus. Et
        sollicitudin ac orci phasellus egestas. Tellus at urna condimentum
        mattis. Ultricies tristique nulla aliquet enim tortor at auctor.
      </p>
    </mat-card-content>
  </mat-card>

  <!-- Flex box item that is moved within the guidelines of the flex container -->
  <!-- Angular Material card styling elements to properly style the page content using Angular Material -->
  <mat-card class="flex-card-item">
    <mat-card-header><h1 class="mat-h1">skillTitle</h1></mat-card-header>
    <mat-card-content class="mainContent">
      <p class="cardBodyText">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Scelerisque in
        dictum non consectetur a erat. Sed sed risus pretium quam vulputate
        dignissim suspendisse in est. Arcu dui vivamus arcu felis bibendum ut
        tristique et egestas. Donec pretium vulputate sapien nec sagittis
        aliquam malesuada. At consectetur lorem donec massa sapien faucibus et.
        Vel fringilla est ullamcorper eget nulla facilisi etiam. Faucibus in
        ornare quam viverra orci sagittis. Morbi leo urna molestie at elementum.
        Varius duis at consectetur lorem donec massa sapien faucibus. Et
        sollicitudin ac orci phasellus egestas. Tellus at urna condimentum
        mattis. Ultricies tristique nulla aliquet enim tortor at auctor.
      </p>
    </mat-card-content>
  </mat-card>

  <!-- Flex box item that is moved within the guidelines of the flex container -->
  <!-- Angular Material card styling elements to properly style the page content using Angular Material -->
  <mat-card class="flex-card-item">
    <mat-card-header><h1 class="mat-h1">skillTitle</h1></mat-card-header>
    <mat-card-content class="mainContent">
      <p class="cardBodyText">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Scelerisque in
        dictum non consectetur a erat. Sed sed risus pretium quam vulputate
        dignissim suspendisse in est. Arcu dui vivamus arcu felis bibendum ut
        tristique et egestas. Donec pretium vulputate sapien nec sagittis
        aliquam malesuada. At consectetur lorem donec massa sapien faucibus et.
        Vel fringilla est ullamcorper eget nulla facilisi etiam. Faucibus in
        ornare quam viverra orci sagittis. Morbi leo urna molestie at elementum.
        Varius duis at consectetur lorem donec massa sapien faucibus. Et
        sollicitudin ac orci phasellus egestas. Tellus at urna condimentum
        mattis. Ultricies tristique nulla aliquet enim tortor at auctor.
      </p>
    </mat-card-content>
  </mat-card>
</div>
