<div class="articleContainer">
  <!--RockhouseU Job-->
  <article class="content" id="box1">
    <h2 class="jobTitle">Multimedia Editor</h2>
    <h3 class="companyName"><em>RockHouseU</em></h3>
    <h4 class="timeFrame">
      July 2016 &mdash;<!--Big Dash-->
      June 2018
    </h4>
    <h5 class="viewMore">About Role</h5>
    <p class="jobDescription">
      Primary editor for promotional video materials. Working remotely on
      assigned projects while exceeding employer expectations. This job required
      extensive patience and focus in order to find micro and macro errors in
      footage to create a professional and eloquent final product that is both
      artistically and technically perfect.
    </p>
  </article>

  <!--QMR Job 1-->
  <article class="content" id="box2">
    <h2 class="jobTitle">Cell Phone Repair Technician</h2>
    <h3 class="companyName"><em>Quick Mobile Repair</em></h3>
    <h4 class="timeFrame">
      April 2019 &mdash;<!--Big Dash-->
      Present
    </h4>
    <h5 class="viewMore">About Role</h5>
    <p class="jobDescription">
      Primary duties include repairing customer mobile devices to a high degree
      of accuracy as well as managing the day to day operations of the shop.
      This role requires extreme attention to detail and, in a larger sense, a
      detail orientated person. Using and honing these skills has been largely
      helpful in advancing my progress in software development as it has
      enhanced my innate ability to problem solve and detect potentially vital
      errors early on.
    </p>
  </article>

  <!--QMR Job 2-->
  <article class="content" id="box3">
    <h2 class="jobTitle">
      Desktop &amp;<!--Ampersand-->
      Laptop Specialist
    </h2>
    <h3 class="companyName"><em>Quick Mobile Repair</em></h3>
    <h4 class="timeFrame">April 2019 &mdash; Present</h4>
    <h5 class="viewMore">About Role</h5>
    <p class="jobDescription">
      Primary duties include managing and completing all repairs on desktop and
      laptop computer systems. This includes systems running both Mac OSX and
      Microsoft Windows based systems. Repairs include: software tuneup,
      hardware cleaning, OS reinstall (with and without data migration),
      hardware replacement for upgrade, hardware replacement for
      faulty/defective, and general customer interaction and teaching. The
      troubleshooting skills I’ve acquired while fulfilling this position have
      allowed me to constantly expand my knowledge base and find viable
      solutions for nonstandard problems. I also apply this troubleshooting
      technique to find solutions to any problems even if I don’t currently have
      the technical knowledge required.
    </p>
  </article>

  <article class="content" id="box4">
    <h2 class="jobTitle">Job-Title-Here</h2>
    <h3 class="companyName"><em>Employer-Corp-Here</em></h3>
    <h4 class="timeFrame">StartDate--EndDate</h4>
    <h5 class="viewMore">About Role</h5>
    <p class="jobDescription">
      A-Job-Description-For-This-Job-Will-Go-Here
    </p>
  </article>

  <article class="content" id="box5">
    <h2 class="jobTitle">Job-Title-Here</h2>
    <h3 class="companyName"><em>Employer-Corp-Here</em></h3>
    <h4 class="timeFrame">StartDate--EndDate</h4>
    <h5 class="viewMore">About Role</h5>
    <p class="jobDescription">
      A-Job-Description-For-This-Job-Will-Go-Here
    </p>
  </article>

  <article class="content" id="box6">
    <h2 class="jobTitle">Job-Title-Here</h2>
    <h3 class="companyName"><em>Employer-Corp-Here</em></h3>
    <h4 class="timeFrame">StartDate--EndDate</h4>
    <h5 class="viewMore">About Role</h5>
    <p class="jobDescription">
      A-Job-Description-For-This-Job-Will-Go-Here
    </p>
  </article>
</div>
