// Imports the material theme module and the settings for the theme
// @import "~@angular/material/theming";
// @import "../../../theme.scss";

// Set flexbox styling on the cards and their overall container
.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.flex-card-item {
  margin: 1% 1.4% 1% 1.4%;
  flex-grow: 1;
}

// Center overall card content
.mainContent {
  text-align: left;
}

// Center the main text content of the cards
.cardBodyText {
  text-align: justify;
}

// // Recolor  the date text
// .timeFrame {
//   color: mat-color($zac-ingoglia-accent);
// }
