<!-- Flex box container where all of the page content is held within -->
<div class="flex-container">
  <!-- Flex box item that is moved within the guidelines of the flex container -->
  <!-- Angular Material card styling elements to properly style the page content using Angular Material -->
  <!-- This flex box should scale up faster compared to its siblings -->
  <mat-card class="flex-special-item">
    <mat-card-header
      ><h1 class="mat-h1">Welcome, Thanks for Stopping By!</h1></mat-card-header
    >
    <mat-card-content class="mainContent">
      <p class="cardBodyText">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Scelerisque in
        dictum non consectetur a erat. Sed sed risus pretium quam vulputate
        dignissim suspendisse in est. Arcu dui vivamus arcu felis bibendum ut
        tristique et egestas. Donec pretium vulputate sapien nec sagittis
        aliquam malesuada. At consectetur lorem donec massa sapien faucibus et.
        Vel fringilla est ullamcorper eget nulla facilisi etiam. Faucibus in
        ornare quam viverra orci sagittis. Morbi leo urna molestie at elementum.
        Varius duis at consectetur lorem donec massa sapien faucibus. Et
        sollicitudin ac orci phasellus egestas. Tellus at urna condimentum
        mattis. Ultricies tristique nulla aliquet enim tortor at auctor.
      </p>
    </mat-card-content>
  </mat-card>

  <!-- Flex box item that is moved within the guidelines of the flex container -->
  <!-- Angular Material card styling elements to properly style the page content using Angular Material -->
  <mat-card class="flex-card-item">
    <mat-card-header
      ><h1 class="mat-h1">Why I'm a Valuable Asset</h1></mat-card-header
    >
    <mat-card-content class="mainContent">
      <p class="cardBodyText">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Scelerisque in
        dictum non consectetur a erat. Sed sed risus pretium quam vulputate
        dignissim suspendisse in est. Arcu dui vivamus arcu felis bibendum ut
        tristique et egestas. Donec pretium vulputate sapien nec sagittis
        aliquam malesuada. At consectetur lorem donec massa sapien faucibus et.
        Vel fringilla est ullamcorper eget nulla facilisi etiam. Faucibus in
        ornare quam viverra orci sagittis. Morbi leo urna molestie at elementum.
        Varius duis at consectetur lorem donec massa sapien faucibus. Et
        sollicitudin ac orci phasellus egestas. Tellus at urna condimentum
        mattis. Ultricies tristique nulla aliquet enim tortor at auctor.
      </p>
    </mat-card-content>
  </mat-card>
</div>
